@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Exo+2:ital,wght@0,200;1,100&family=Montserrat&family=PT+Sans&family=Source+Serif+Pro&display=swap');

#home {
    background-color: #4e5283;
    color: aliceblue;
    text-decoration: none;
}

#information {
    margin-top: 50px;
}

#mru {
    border-radius: 20px;
    width: 90%;
    border-color: #4e5283;
    border-width: 10px;
    border-style:double;
    /* margin-left: 10px; */
}

#languages {
    border-radius: 20px;
    width: 90%;
    border-color: #4e5283;
    border-width: 10px;
    border-style:double;
    margin-left: 10px;
}

#design {
    border-radius: 20px;
    width: 90%;
    border-color: #4e5283;
    border-width: 10px;
    border-style:double;
    /* margin-left: 10px; */
}


.school-text {
    font-family: kalam;
    padding: 5px 20px;
    background-color: rgb(252, 198, 208);
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.knowledge-text {
    font-family: kalam;
    padding: 5px 20px;
    background-color: rgb(252, 198, 208);
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.design-text {
    font-family: kalam;
    padding: 5px 20px;
    background-color: rgb(252, 198, 208);
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    margin-bottom: 50px;
}

.mru-picture, .language-picture, .design-picture {
    text-align: center;
    color:#2b2f53
}


#links-to-page {
    text-align: center;
    padding: 30px;
    word-spacing: 25px;
    font-family: "kalam";

}

#skills {
    font-family: Tangerine;
    color:#2b2f53;
    font-size: 8vw;
}

p.skill, h4 {
    margin-left: 20px;
    margin-right: 20px;
    font-family: "PT Sans", "Times New Roman";
}

h4 {
    font-size: 3vw;
    font-family: "kalam";
    letter-spacing: 3px;
    color: #353964;
}



@media screen and (max-width: 600px) {
    
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #mru, #languages, #design{
        width: 90%;
        height: auto;
        border-style: solid;
        border-width: 5px;
    }

    .school-text, .knowledge-text, .design-text {
        padding: 30px;
        margin: 20px;
    }

    h4 {
        font-size: 18px;
    }

}

@media screen and (min-width: 601px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px; 
        align-items: center;
    }
      
    #mru {
        grid-column: 1;
        grid-row: 1; 
        margin-left: 10px;
    }
      
    .school-text {
        grid-column: 2; 
        grid-row: 1; 
    }

    h5 {
      text-align: center;
      color: #2b2f53;
      font-size: 20px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .knowledge-text {
        grid-column: 1;
        grid-row: 2;
    }

    #languages {
        grid-column: 2;
        grid-row: 2;
    }

    #design {
        grid-column: 2;
        grid-row: 3;
    }

    .design-picture {
        grid-column: 1;
        grid-row: 3;
    }

    h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #skills {
        font-size: 48px;
    }

    h4 {
        font-size: 22px; 
    }

    #skills {
        margin: 18px;
    }

}

