@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Tangerine:wght@700&display=swap');

:root {
    --title-color: #353964;
    --header-color: #4e5283;
}

html, body {
    padding: 0;
    margin: 0;
}

#main-heading {
    background-image: linear-gradient(rgb(233, 127, 145), rgb(252, 235, 235));
    width: 100%;
    height: auto;
}

header {
    padding-top: 1px;
    padding-bottom: 50px;
}

header h1 {
    text-align: center;
    color: var(--title-color);
    font-family: Tangerine;
    font-size: 8vw;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

nav {
    font-size: 2.5vw;
    padding: 20px;
}

.dropdown-content {
    display: flex;
    justify-content: space-between;
}

#nav-left {

    word-spacing: 20px;
}

#nav-right {
    
    word-spacing: 20px;
}

nav a {
    background-color: #FBE3E4;
    padding: 10px 40px;
    color: rgb(181, 81, 115);
    border-radius: 25px;
    font-family: Kalam;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(138, 37, 86);
    color: rgb(240, 219, 225);
    text-decoration: underline;
}

a:focus-visible  {
    border: 5px double #3146d1;
}

hr {
    width: 98%;
    height: 2px;
    background-color: var(--title-color);
    border-width: 0;
}

#name-line {
    width: 50%;
}

.clouds {
    position: relative;
    top: 10px;
    z-index: 0;
    width: 100%;
    height: auto;
}

.dropdown-button {
    display: none;
}

h2 {
    margin: 0;
}

body {
    background-color: #FCEBEB;
}

footer {
    background-color: var(--header-color);
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    font-family: "kalam", "Times New Roman";
}

.skip-to-main {
    position: absolute;
    top: 85px;
    z-index: 999;
    padding: 1em;
    font-weight: bold;
    background-color: #FBE3E4;
    font-family: "kalam", "Times New Roman";
    color: var(--title-color);
    border-radius: 20px;
    opacity: 0;
    float: left;
    margin: 10px; 
    text-decoration: none;
  }

  .skip-to-main:focus {
    opacity: 1;
  }


@media screen and (max-width: 590px) {
    .dropdown-button {
        background-color: #F2B3BC;
        color: var(--header-color);
        font-family: Kalam;
        border-radius: 10px;
        padding: 16px;
        font-size: 25px;
        border: none;
        display: block;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #efc0c0;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
        border-radius: 25px;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 8px;
        margin: 10px;
        font-size: 20px;
      }
      
      .dropdown-content a:hover {
        background-color: rgb(138, 37, 86);
    }
      
      .dropdown:hover .dropdown-content {
        display: block;
    }
      
      .dropdown:hover .dropdown-button {
        background-color: #f09da9;
    }

    nav {
        padding: 10px;
    }

    hr {
        display: none;
    }

    .skip-to-main {
        top: 1px;
        left: 20%
    }

    .dropdown-button:focus-visible {
        border: 5px double #3146d1;
    }

}

@media screen and (min-width: 790px) {
    
    body {
    max-width: 900px;
    margin: auto;
    }


    header {
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
    }

    nav {
        font-size: 21px;
    }

    header h1{
        font-size: 69px;
    }
    
}


