@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Exo+2:ital,wght@0,200;1,100&family=Montserrat&family=PT+Sans&family=Source+Serif+Pro&display=swap');


#work {
    background-color: #4e5283;
    color: aliceblue;
    text-decoration: none;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
    margin-bottom: 20px;
  }

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

tr:nth-child(odd) {
    background-color: #ffd8e1;
}

th {
    background-color:#ffc2d1
}
  
tr:hover {
    background-color: pink;
    color: rgb(82, 33, 49);
  }

  p {
    padding: 30px;
    font-family: "PT Sans", "Times New Roman";
    margin: 30px;
  }

  h2 {
    padding: 15px;
    text-align: center;
    margin-top: 50px;
    color: #4e5283;
  }


@media screen and (max-width: 570px){
    
    p {
        margin: 0;
    }
}