@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Exo+2:ital,wght@0,200;1,100&family=Montserrat&family=PT+Sans&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Tangerine:wght@700&display=swap');

#work {
    background-color: #4e5283;
    color: aliceblue;
    text-decoration: none;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
    margin-bottom: 20px;
  }

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

tr:nth-child(odd) {
    background-color: #ffd8e1;
}

th {
    background-color:#ffc2d1
}
  
tr:hover {
    background-color: pink;
    color: rgb(82, 33, 49);
  }

  p {
    padding: 10px;
    font-family: "PT Sans", "Times New Roman";
    margin: 10px;
  }

  h1 {
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #4e5283;
    font-size: 2rem;
    font-family: "kalam";
  }

  h3 {
    padding: 10px;
    font-family: "kalam", "Times New Roman";
    margin: 10px;
    color: #353962;
  }

  .party-city {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
    margin-left: 30px;
    margin-right: 30px;
  }

  .story {
    display: flex;
    flex-flow: column;
    border:  2px solid #353962;
    border-radius: 1rem;
    padding: 1rem;
  }

  @media  screen and (max-width: 570px) {
    
    .story {
      border-style: none;
    }
  }
  

